/* GENERAL STYLES */

body {
  background: #ececec url(../images/background.png);
	border-top: 8px solid #595959;
	color: #555;
	font: 15px / 20px "rosario", sans-serif;
}

strong {
  font-weight: bold;
}

.wrapper {
  margin: 0 auto 10px;
  max-width: 975px;
}

header {
  padding: 25px 0 15px;
}

nav {
  background-color: #eee;
  box-sizing: border-box;
  padding: 30px 50px;
}

section {
  background-color: #eee;
  padding: 0;
}

.title {
  background-color: #666;
  box-sizing: border-box;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  padding: 60px 100px;
  text-align: left;
  width: 100%;
}

.subtitle {
  font-size: 30px;
}

article {
  padding: 40px 100px;
}

.card {
  align-items: center;
  background-color: #fff;
  border: none;
  box-shadow: 2px 0px 3px rgba(0,0,0,0.25);
  display: inline-flex;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 20px;
  text-decoration: none;
}

/* HOME PAGE SPECIFIC STYLES */

.main-logo {
  align-self: flex-start;
}

.category-link:hover {
  background-color: #eee;
}

.home-button--text {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  margin-left: 10px;
}

/* NAVIGATION SPECIFIC STYLES */

.nav-btn {
  border-radius: 5px;
  color: #555;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #ccc;
  text-decoration: none;
}

.nav-btn.current {
  background-color: #666;
  color: #fff;
}

/* DIRECTORY PAGE SPECIFIC STYLES */

.directory--cards {
  display: flex;
  flex-wrap: wrap;
}

.directory--card {
  align-items: flex-start;
  flex-direction: column;
  min-width: 130px;
}

.card--title {
  font-size: 18px;
  margin: 0;
}

.card--list {
  list-style-type: none;
  padding: 0 0 0 15px;
}

.card--list-item {
  margin-bottom: 4px;
  text-align: left;
}

.card--list-item a {
  border-bottom: 1px dashed #999;
  color: #111;
  text-decoration: none;
}

.card--list-item a:hover {
  border-bottom-style: solid;
}

/* DOC PAGE SPECIFIC STYLES */

.content {
  text-align: left;
}
